:root {
  --tamanio-letra: 46px;
  --tamanio-acorde: 116px;
  --tamanio-acordesolo: 16px;
  --tamanio-parte: 6px;
  --tamanio-acorde-parte: 216px;
}


#barra_navegacion {
    display: flex;
    border: 1px solid;

}

#barra_control {

    border: 1px solid;
    margin-left: 15px;
    
}
body {
  margin: 0px !important;
  background-color: black;
  color: #a9a8f6;
  
  font-family: 'Roboto Mono', monospace;
}
.bodyClass {
  background-color: black;
  color: white;
}

#app {
}

.parte {
    display: flex;
  }
  .acorde {
    border: 1px solid #888;
    width: max-content;
    padding: 4px;
    font-size: 30px;
  }
  .ordenparte {
    border: 1px solid #888;
    width: 25%;
  }
  
  


.acorde_resaltado {
  border: 1px solid #a9a8f6;
}

.saltolinea {
  flex-basis: 100%;
}

input[type="text"],
input[type="password"],
textarea {
  background-color: #000000;
  color: #8A2BE2; /* Violet color */
  border: 1px solid #8A2BE2; /* Violet border */
}

